---
---

@import "{{ site.theme }}";

html, body {
    background-color: #191c1f;
    color: #dbd5d2;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}
strong {
    color: #e6e6e6;
}

ul, li {
    font-size: 16px;
}

th {
    color: #e6e6e6;
}

p {
    font-size: 16px;
}

code {
    color: #fff;
    background: black;
}

a {
    color: #469cd9;
}

#dl {
    font-size: 1.2em;
}

#extraspace {
    padding: 7px;
}

#device {
    width: 150px
}

.alert {
    padding: 20px 15px;
    border-radius: 4px !important;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #1a1919ba;
}

.alert.alert-warning {
    background-color: #e4cc44;
    color: #5c552e;
}

.alert.alert-danger {
    background-color: #f1624f;
    color: #501911;
}

.alert.alert-info {
    background-color: #478aee;
    color: #163b4d;
}